.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.logo {
  /* استایل‌های اضافی برای لوگو */
}

.title {
  color: #00784a;
  flex-grow: 1;
  text-align: center;
}

.menuButton {
  padding: 8px;
}