/* components/feature/styles/Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 68px);
  background: transparent;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px 112px;
}
